<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063324926620-9qdfa38uevncu3rpqthop98olvl5s7m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063324926620-9qdfa38uevncu3rpqthop98olvl5s7m1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063324926620-5l5ilhdfqcuornu8e9grt80mhf2nh89s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpYmpprUgPkXj1_07lq3BNH_zgvz1jn74</string>
	<key>GCM_SENDER_ID</key>
	<string>1063324926620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SemihGuler.Fasher</string>
	<key>PROJECT_ID</key>
	<string>bitirme-4e3ab</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirme-4e3ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063324926620:ios:35af14dc24781bda79a359</string>
	<key>DATABASE_URL</key>
	<string>https://bitirme-4e3ab.firebaseio.com</string>
</dict>
</plist>